/***** Typography *****/
h1 {
  padding-right: 10px;
}

h3,
h4 {
  font-family: Tahoma, Geneva, sans-serif;
}

/***** Header *****/

.fountain {
  width: 75px;
  height: 12vh;
  padding-right: 10px;
}

header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
  color: #61dbfb;
  border: 1px solid #61dbfb;
}

/***** Map *****/

#map {
  width: 100vw;
  height: 80vh;
  background-color: #78787a;
  border: 1px solid #61dbfb;
}

.fs-error {
  text-align: center;
  color: #a41f2b;
  border: 2px solid red;
  background-color: #dbe4f2;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  top: 30%;
  z-index: 10;
}

.info-window {
  border: 1px solid red;
  text-align: center;
}

.foursquare {
  height: 50%;
  width: 50%;
}

.fs-icon {
  background-color: #569cd6;
}

/***** Footer *****/

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
  padding-top: 8px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

footer {
  display: flex;
  border: 1px solid #61dbfb;
  background-color: #78787a;
  color: white;
}

p {
  font-size: .7em;
}
