.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

.App-header {
  background-color: #78787a;
  border: 1px solid #61dbfb;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.25em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Map
*/

main {
  display: flex;
  flex-direction: row;
}

#map {
  float: right;
  width: 75vw;
  height: 80vh;
  background-color: #78787a;
  border: 1px solid #61dbfb;
}

aside {
  display: block;
  float: left;
  border: 1px solid #61dbfb;
  width: 30vw;
  height: 80vh;
}

footer {
  border: 1px solid #61dbfb;
  background-color: #78787a;
  color: white;
}

p {
  font-size: .7em;
}
