/***** Typography *****/
h1 {
  padding-right: 10px;
}

h4,
h5,
h6 {
  margin: 0;
}

p {
  font-size: .7em;
}

/***** Header *****/

.fountain {
  width: 75px;
  height: 12vh;
  padding-right: 10px;
}

header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
  color: #61dbfb;
  border: 1px solid #61dbfb;
}

/***** Map *****/

.map-only {
  margin: 0;
  height: 80vh;
  width: 100%;
  border: 1px solid #61dbfb;
  background-color: #78787a;
}

.map-list {
  margin: 0;
  height: 80vh;
  width: 50%;
}

.fs-error {
  text-align: center;
  color: #a41f2b;
  border: 2px solid red;
  background-color: #dbe4f2;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  top: 30%;
  z-index: 10;
}

.info-window {
  border: 1px solid red;
  text-align: center;
  width: 110px;
}

.foursquare {
  height: 50%;
  width: 50%;
}

.fs-icon {
  background-color: #569cd6;
  margin-top: 5px;
}

/***** Fountains *****/

.list {
  border: 2px solid #ffffff;
  background-color: #c9cad2;
  width: 45%;
  height: 80vh;
  overflow: scroll;
  float: left;
}

.search {
  border: 2px solid #ced56e;
}

input {
  width: 100%;
  text-align: center;
  color: #0992ed;
}

ol {
  list-style-type: none;
  padding-left: 5px;
}

li {
  border-bottom: 1px solid #ffffff;
  padding: 2px;
}

li:hover {
  background-color: #61dbfb;
}

/***** Footer *****/

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 30px;
  padding-right: 8px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

footer {
  display: flex;
  border: 1px solid #61dbfb;
  background-color: #78787a;
  color: white;
  width: 100%;
}

/***** Media Queries - Tablet & Laptop *****/

@media screen and (min-width: 768px) {
  header h1 {
    font-size: 2.25em;
  }

  .list {
    width: 33%;
  }

  .map-list {
    width: 65%;
  }

  .info-window {
    width: 150px;
  }

  h6 {
    font-size: 1em;
  }

  .App-logo {
    height: 40px;
  }

  footer p {
    font-size: 1em;
  }
}

@media screen and (min-width: 1280px) {
  header h1 {
    font-size: 3.5em;
  }

  .info-window {
    width: 180px;
  }

  .App-logo {
    height: 50px;
  }
}
